
@import 'remixicon/fonts/remixicon.css';
@import "tailwindcss";

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background: #6556CD;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: #463821
}
